body
{
  background:radial-gradient(circle,#badbd6,#7b9ab2);
}

#container
{
  height: 450px;
  width: 700px;
  background-color:#a38a8a;
  margin:100px auto;
  padding:20px;
  border-radius:15px;
  position:relative;
  box-shadow:4px 4px 6px 1px;
}

#score-box
{
  background-color:#8c7a19;
  padding:15px;
  float:right;
  width:auto;
  font-size:25px;
  box-shadow:0px 4px 4px;
}
#correct-message
{
  background-color:green;
  width:60px;
  padding:10px;
  position:absolute;
  left:300px;
  color:white;
  display:none;
}

#wrong-message
{
  background-color:red;
  width:60px;
  padding:10px;
  position:absolute;
  left:300px;
  color:white;
  display:none;
}

#question-box
{
  width:450px;
  height:150px;
  background-color:pink;
  margin:60px auto 0px auto;
  box-shadow:0px 4px   3px ;
  font-size:90px;
  text-align:center;
  line-height:140px;

}

#instruction-box
{
  width:450px;
  background-color:#99ba89;
  height:40px;
  margin:10px auto 10px auto;
  line-height:35px;
  text-align:center;
  box-shadow:0px 4px   3px ;
}

#choise-box
{
  width:450px;
  height:100px;

  margin:20px auto 10px auto;

}

.box
{
  background-color:white;
  width:85px;
  height:85px;
  float:left;
  margin-right:36px;
  box-shadow:0px 4px   3px ;
  cursor:pointer;
  font-size:50px;
  text-align:center;
  line-height:75px;
  color:purple
}

#box4
{
  margin-right:0px;
}

.box:hover
{
  color:#a53535;
  background-color:#754646;
   box-shadow:4px 4px   3px black;
}

.box:active
{
  box-shadow:0px 0px   3px black;
}

#start-reset
{
  width:100px;
  height:50px;
  background-color:white;
  font-size:20px;
  line-height:50px;
  text-align:center;
  color:blue;
  box-shadow:4px 4px   3px black;
  margin:10px auto 5px auto;
  cursor:pointer;

}

#start-reset:hover
{
  color:green;
  background-color:#99ba89;
}

#start-reset:active
{
  box-shadow:0px 0px   3px black;
}

#time-box
{
  width:180px;
  height:50px;
  background-color:white;
  position:absolute;
  left:550px;
  top:420px;
  font-size:20px;
  line-height:50px;
  background-color:green;
  display:none;

}

#gameover-box
{
  width:600px;
  height:auto;
  background-color:grey;
  position:absolute;
  top:100px;
  left:80px;
  font-size:40px;
  text-align:center;
  line-height:100px;
  color:red;
  z-index:2;
  display:none;






}
